@using Epsilon.ViewModels
@model ViewFormAgregarUsuario

<form id="idAddPeriodo_Form" method="post" asp-action="EliminarUsuario" onsubmit="return jqPostRemoveUser(this);">

    <input type="hidden" name="IdUsuario" id="IdUsuario" value="@Model.IdUsuario"/>


    <div class="form-group row md-1">
        <div class="col-md-11 m-2">
            <label class=" text-center col-md-10 col-form-label">¿Desea eliminar el usuario? @Model.Nombre</label>
           
        </div>
    </div>

    @* BOTONES *@
    <div class="fa-pull-left">
        <button id="btnAddUser" type="submit" class="btn btn-outline-success m-2"><span class="fa fa-check"></span> Aceptar</button>
        <button id="btnAddUser" type="button" class="btn btn-outline-danger m-2"><span class="fa fa-circle-xmark"> </span> Cancelar</button>
    </div>
</form>