@using Epsilon.ViewModels
@model ViewFormAgregarUsuario

<form id="deleteUserModal" method="post" onsubmit="return jqPostDeleteUser(@Model.IdUsuario);" style="border:1px solid gainsboro;padding:10px">

    <input type="hidden" name="IdUsuario" id="IdUsuario" asp-for="IdUsuario" value="@Model.IdUsuario" />

    <div class="row">

        <div class="form-group row md-1">
            <div class="col-md-12 m-2">
                <label class="text-center col-md-12 col-form-label">¿Desea eliminar el usuario @Model.Nombre?</label>
            </div>
        </div>


        @* BOTONES *@
        <div class="text-center">
            <button id="btnAddUser" type="submit" class="btn btn-outline-success"><span class="fa fa-check"></span> Aceptar</button>
            <button id="btnc" type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"><span class="fa fa-circle-xmark"> </span> Cancelar</button>
        </div>

    </div>
</form>