@model UsuariosViewModel

@{
    ViewData["Title"] = "Usuarios";
}
@{
     await Html.RenderPartialAsync("_TituloPagina");
}
@{
    await Html.RenderPartialAsync("_MensajesOperaciones");
}
@* <hr style="color:white;">
<h4 class="text-center" style="color:white;"><span class="fa fa-user"></span> Usuarios <span class="fa fa-user"></span></h4>
<hr style="color:white;"> *@

@* <div id="divErrores" class="alert alert-danger" style="display:none"></div> *@

<div id="divErrores" class="alert-overlay" style="display:none;">
    <div class="alert-box alert alert-danger">
        <div id="msgErrores"></div>
        <button id="btnCerrarError" class="btn btn-sm btn-outline-light mt-2">Cerrar</button>
    </div>
</div>

<form id="id_Form" method="post" asp-action="FiltrarUsuarios" onsubmit="return jqPostFiltrar(event, this)">
    <!-- Snackbar Panel -->
    <div align="center" id="snackbar">Usuario creado correctamente</div>

    <button style="background-color:gainsboro;" class="accordion"><span class="fa fa-search"></span> Buscador Usuarios</button>

    <div class="panel" style="border-bottom:1px solid gainsboro;border-left:1px solid gainsboro;border-right:1px solid gainsboro;">

        <div class="form-group row" style="padding:10px;">

            @* Nombre *@
            <div class="col-md-2">
                <label class="form-label">Nombre</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                    <input type="text" class="form-control" placeholder="Ingrese nombre">
                </div>
            </div>
            @* DNI *@
            <div class="col-md-2">
                <label class="form-label">DNI</label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fa fa-address-card" aria-hidden="true"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Ingrese DNI">
                </div>
            </div>
            @* E-Mail *@
            <div class="col-md-2">
                <label class="form-label">Correo Electrónico</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    <input type="email" class="form-control" placeholder="Ingrese E-mail">
                </div>
            </div>
            @* Telefono *@
            <div class="col-md-2">
                <label class="form-label">Teléfono</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                    <input type="text" class="form-control" placeholder="Ingrese teléfono" style="padding-right:15px;">

                </div>
            </div>
            @* Ciudad *@
            <div class="col-md-2">
                <label class="form-label">Ciudad</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                    <input type="text" class="form-control" placeholder="Ingrese ciudad">
                </div>
            </div>

            <div class="col-md-12 fa fa-pull-right" style="margin-top:-35px !important;">
                <label for="lblBuscar"></label>

                <button type="submit" style="float:right !important;" class="btn btn-sm btn-outline-dark fa fa-pull-right" onclick="if (window.PaginadorPrincipal){ PaginadorPrincipal.destroy(); delete window.idPaginadorPrincipal;}">
                    <span class="fa fa-search"></span>
                </button>Buscar



            </div>
        </div>
    </div>



    @* <h4 style="color:white;">Busqueda de Usuarios</h4> *@
   @*  <div class="form-group row">

        <div class="col-md-3">
            <label class="form-label" style="color:white">Nombre</label>
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
                <input type="text" class="form-control" placeholder="Ingrese su nombre">
            </div>
        </div>

        <div class="col-md-3">
            <label class="form-label" style="color:white">Correo Electrónico</label>
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                <input type="email" class="form-control" placeholder="Ingrese su correo">
            </div>
        </div>

        <div class="col-md-3">
            <label class="form-label" style="color:white">Teléfono</label>
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-phone"></i></span>
                <input type="text" id="Telefono" class="form-control" placeholder="Ingrese su número de teléfono">
            </div>
        </div>

        <div class="col-md-2">
            <label class="form-label" style="color:white">Fecha de Alta</label>
            <div class="input-group">
                <span class="input-group-text"><i class="fa-solid fa-calendar"></i></span>
                <input type="date" asp-for="FechaAlta" class="form-control" value="@Model.FechaAlta">
            </div>
        </div>
    
        <div class="col-md-1" style="margin-top:35px;">
            <label for="lblBuscar"></label>
            <button type="submit" class="btn btn-sm btn-outline-light" onclick="if (window.PaginadorPrincipal){ PaginadorPrincipal.destroy(); delete window.idPaginadorPrincipal;}">
                <span class="fa fa-search" style="font-size:1.5rem;"></span>
            </button>
        </div>
    </div> *@

    <input type="hidden" asp-for="PaginaActual" id="PaginaActual" />
    <input type="hidden" asp-for="RegistrosPorPagina" id="RegistrosPorPagina" />
    <input type="hidden" name="RegistrosPaginaActual" id="RegistrosPaginaActual" value="@Model.Usuarios?.Count()" />   
</form>

<hr />


<button id="btnAddUser" type="button" class="btn btn-sm btn-outline-light fa-pull-right" onclick="return jqGetModalAddUser()"><span class="fa fa-plus"></span> Nuevo <b>Usuario</b></button>
<button id="btnImportUsers" type="button" class="btn btn-sm btn-outline-light fa-pull-left" onclick="return jqGetModalImportUsers()"><i class="fa-regular fa-share-from-square"></i>Importar <b>Usuarios</b></button>
<button id="btnImportUsers" type="button" class="btn btn-sm btn-outline-light fa-pull-left" onclick="return jqGetModalImportUsers()"><i class="fa-solid fa-file-export"></i>Expportar <b>Usuarios</b></button>
<button id="btnSendMail" type="button" class="btn btn-sm btn-outline-light fa-pull-left" onclick="return jqGetModalEnviarCorreo()"><i class="fa-regular fa-envelope-open"></i> Enviar <b>Correo</b></button>
<button id="showSnack" type="button" class="btn btn-sm btn-outline-dark fa-pull-left" onclick="showMessage()"><span class="fa fa-cog"></span> Mostrar <b>Snack</b></button>



<div id="idResultadosFiltro" class="text-center">
    @{
        await Html.RenderPartialAsync("TablaUsuarios", Model.Usuarios);
    }
</div>

@* Paginacion *@
<div id="idPaginadorPrincipal" class="text-center m-1">
    <a class="btn btn-sm btn-outline-light PaginaAnterior" onclick="PaginadorPrincipal.paginaAnterior()">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i> 
   @*      Anterior  *@
    </a>
    <span class="m-2 TextoPaginacion" style="color:white;">@* Página  *@@Model.PaginaActual</span>
    <a class="btn btn-sm btn-outline-light PaginaSiguiente" onclick="PaginadorPrincipal.paginaSiguiente()">
     @*    Siguiente  *@<i class="fa fa-angle-double-right" aria-hidden="true"></i>
    </a>
</div>

@section Styles {
    <link href="~/css/Usuarios.css" rel="stylesheet" />
}

@section Scripts {

    @* <script src="~/js/plugins/PopupLoader.js" asp-append-version="true"></script> *@
  
    <script src="~/js/plugins/draggable.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/Paginador.js" asp-append-version="true"></script>
    <script src="~/js/Usuarios.js" asp-append-version="true"></script>
}

@section Modals {
    @* Modal agregar usuario *@
    <div class="modal fade" tabindex="-1" role="dialog" data-bs-backdrop="static" data-keyboard="false" id="addUserModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">
                        <i class="fa fa-user-plus" aria-hidden="true"></i> Alta Usuario
                    </h5>
                    <button type="button" class="btn-close position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Aquí se insertará el contenido dinámico -->
                </div>
            </div>
        </div>
    </div>

    @* Modal modificar usuario *@
    <div class="modal fade" tabindex="-1" role="dialog" data-bs-backdrop="static" data-keyboard="false" id="updateUserModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">
                        <span class="fa fa-pencil-square" aria-hidden="true"></span>

                         Modificar datos del Usuario
                    </h5>
                    <button type="button" class="btn-close position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Aquí se insertará el contenido dinámico -->
                </div>
            </div>
        </div>
    </div>

    @* Modal eliminar usuario *@
    <div class="modal fade" tabindex="-1" role="dialog" data-bs-backdrop="static" data-keyboard="false" id="deleteUserModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">
                        <i class="fa fa-user-times" aria-hidden="true"></i>
                         Eliminar usuario
                    </h5>
                    <button type="button" class="btn-close position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Aquí se insertará el contenido dinámico -->
                </div>
            </div>
        </div>
    </div> 
}

<style>

    .alert-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5); /* semitransparente */
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999; /* por encima del modal */
    }

    .alert-box {
        max-width: 400px;
        background-color: #f8d7da;
        border: 1px solid #f5c2c7;
        border-radius: .5rem;
        box-shadow: 0 0 15px rgba(0,0,0,0.4);
        padding: 1rem 1.5rem;
        color: #842029;
        text-align: center;
    }




    /* Estilos de los botones para abrir y cerrar el acordeon */
    .accordion {
        background-color: #eee;
        color: #444;
        cursor: crosshair;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
    }

        /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
        .active, .accordion:hover {
            background-color: #ccc;
        }

    /* Estilo del panel del acordeon. Nota: Oculto por defecto */
    .panel {
        padding: 0 18px;
        display: none;
        overflow: hidden;
    }

    .accordion:after {
        /* Unicode character for "plus" sign (+) */
        content: '\02795';
        font-size: 13px;
        color: #777;
        float: right;
        margin-left: 5px;
        display: block;
    }

    .active:after {
        /* Unicode character for "minus" sign (-) */
        content: "\2796";
    }
</style>
<script>

    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
    /* Toggle between adding and removing the "active" class,
    to highlight the button that controls the panel */
    this.classList.toggle("active");

    /* Toggle between hiding and showing the active panel */
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
    panel.style.display = "none";
    } else {
    panel.style.display = "block";
    }
    });
    }
</script>