@model UsuariosViewModel

@{
    ViewData["Title"] = "Usuarios";
}

<div class="text-center">
    <div class="pull-left">
        <a class="btn btn btn-link btn-sm" href="./" title="Volver a Inicio">
            <span class="fa fa arrow-circle-left text-black-50" style="font-size:2em;"></span>
        </a>
    </div>
    <h2>
        <a href="https://www.google.com" target="_blank" style="color:black;text-decoration:none; padding-right:60px;">
            <font size="5">Gestion de Usuarios</font>
        </a>
    </h2>
</div>

@{
    // await Html.RenderPartialAsync("_MensajeOperaciones");
}

<form id="id_Form" method="post" asp-action="FiltrarUsuarios" onsubmit="return jqPostFiltrar(event, this)">
    <h4>Filtros</h4>
    <div class="form-group row">


        <div class="col-sm-3" style="padding-left:50px;">
            <span class="has-float-label">
                <label for="txtEjercicio">Nombre</label>
                <input type="text" id="txtNombre" placeholder="Nombre" asp-for="Nombre" name="Nombre" ToolTip="Introduce el nombre del usuario." maxlength="75" class="form-control float_label" />
            </span>
        </div>

        <div class="col-sm-3">
            <span class="has-float-label">
                <label for="txtEmail">Email</label>
                <input type="text" id="txtEmail" placeholder="E-Mail" asp-for="Email" name="Email" ToolTip="Introduzca un E-Mail estimado." maxlength="9" class="form-control float_label" />
            </span>
        </div>

        <div class="col-md-2">
            <span class="has-float-label">
                <label for="txtEjercicio">Telefono</label>
                <input type="text" id="txtTelefono" placeholder="Telefono" asp-for="Telefono" name="Telefono" ToolTip="Introduzca un Telefono." maxlength="9" class="form-control float_label" value="" />
            </span>
        </div>

        <div class="col-md-2">
            <span class="has-float-label">
                <label for="txtEjercicio">Fecha Alta</label>
                <input type="date" id="txtFechaAlta" placeholder="Ejecutado" asp-for="FechaAlta" name="Ejecutado" ToolTip="Introduzca coste Ejecutado." maxlength="9" class="form-control float_label" />
            </span>
        </div>
        <div class="col-md-2" style="margin-top:28px;">
            <label for="txtEjercicio"></label>
            <button type="submit" class="btn btn-sm btn-outline-dark" onclick="if (window.PaginadorPrincipal){ PaginadorPrincipal.destroy(); delete window.idPaginadorPrincipal;})">
                <span class="fa fa-search"></span>
            </button>
        </div>
    </div>


      
@*     <input type="hidden" asp-for="PaginaActual" id="PaginaActual" />
    <input type="hidden" asp-for="RegistrosPorPagina" id="RegistroPorPagina" />
    <input type="hidden" name="RegistrosPaginaActual" id="RegistrosPaginaActual" value="@Model.Nombre?.Count()" />
    *@
</form>

<hr />
<br />

<h4>Resultados</h4>
<button id="AddUser" type="button" class="btn btn-sm btn-outline-primary fa-pull-right" onclick="return jqGetModalAddUser()"><span class="fa fa-plus"></span> Nuevo <b>Usuario</b></button>


<div id="idResultadosFiltro" class="text-center">
    @{
        await Html.RenderPartialAsync("TablaUsuarios", Model.Usuarios);
    }
</div>

<div id="idPaginadorPrincipal" class="text-center" visually-hidden m-1>
    <a class="btn btn-sm btn-outline-secondary PaginaAnterior" onclick="PaginadorPrincipal.paginaAnterior()">Anterior</a>
    <span class="m-2 TextoPaginacion">Pagina @Model.PaginaActual</span>
    <a class="btn btn-sm btn-outline-secondary PaginaSiguiente" onclick="PaginadorPrincipal.paginaSiguiente()">Siguiente</a>
</div>

@section Styles {
    <link href="~/css/Usuarios.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/Usuarios.js" asp-append-version="true"></script>
@*     <script src="~/site/Paginador.js" asp-append-version="true"></script> *@
    <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusisive/jquery/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
}

@section Modals {

    @* Modal agregar usuario *@
    <div class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" id="addUserModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center"></h5>
                    <button type="button" class="btn-close position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Aquí se insertará el contenido dinámico -->
                </div>
            </div>
        </div>
    </div>


    @* Modal modificar usuario *@
    <div class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" id="updateUserModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center"></h5>
                    <button type="button" class="btn-close position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Aquí se insertará el contenido dinámico -->
                </div>
            </div>
        </div>
    </div>

    @* Modal eliminar usuario *@
    <div class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" id="deleteUserModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center"></h5>
                    <button type="button" class="btn-close position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Aquí se insertará el contenido dinámico -->
                </div>
            </div>
        </div>
    </div>


 
}


