@using Epsilon.ViewModels
@model ViewFormAgregarTratamiento

<form id="addTratamiento" method="post" asp-action="AgregarTratamiento" name="addTratamiento" onsubmit="return jqPostAddTratamiento(this);" style="border:1px solid gainsboro;padding:10px">

    <div class="row">

        @* NOMBRE TRATAMIENTO *@
        <div class="mb-3">
            <label class="form-label">Tratamientos</label>
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                <select type="text" class="form-control" asp-for="IdTratamiento" asp-items="@Model.NombreTratamiento">
                    <option value="">Selecciona un tratamiento</option>
                </select>
            </div>
        </div>
    </div>

    @* BOTONES *@
    <div class="fa-pull-left">
        <button id="btnAddUser" type="submit" class="btn btn-outline-success m-2"><span class="fa fa-check"></span> Aceptar</button>
        <button id="btnCancel" type="button" class="btn btn-outline-danger m-2"><span class="fa fa-circle-xmark"> </span> Cancelar</button>
    </div>

</form>



<style>

    /* Validacion formato importacion fichero excel */
    #file {
        color: gray;
    }

        /* Color cuando el archivo se ha cargado correctamente */
        #file.loaded {
            background-color: limegreen; /* Verde claro */
            color: black;
        }

        /* Color cuando el archivo no es válido */
        #file.error {
            background-color: orangered; /* Rojo claro */
            color: black;
        }
</style>
