@using Epsilon.ViewModels
@model ViewFormAgregarTratamiento

<form id="addUser1" method="post" asp-action="AgregarUsuario" name="addUser" onsubmit="return jqPostAddUser(this);" style="border:1px solid gainsboro;padding:10px">

    <div class="text-center" style="border-radius:100px;margin-bottom:20px;">
        <img src="~/media/deep.jpg" alt="" height="150px" width="150px" style="border-radius:100px;border:1px solid grey"/>
    </div>
    <div class="row">
        <!-- Primera columna -->
        @* IDTRATAMIENTO *@
        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                    <input type="text" class="form-control" placeholder="Ingrese su nombre">
                </div>
            </div>

            @* NOMBRE TRATAMIENTO *@
            <div class="mb-3">
                <label class="form-label">Correo Electrónico</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
@*                     <select type="email" class="form-control" asp-items="@Model.NombreTratamiento"> *@
                </div>
            </div>
        </div>


        @* BOTONES *@
        <div class="fa-pull-left">
            <button id="btnAddUser" type="submit" class="btn btn-outline-success m-2"><span class="fa fa-check"></span> Aceptar</button>
            <button id="btnCancel" type="button" class="btn btn-outline-danger m-2"><span class="fa fa-circle-xmark"> </span> Cancelar</button>
        </div>
    </div>
</form>



<style>

    /* Validacion formato importacion fichero excel */
    #file {
        color: gray;

    }

        /* Color cuando el archivo se ha cargado correctamente */
        #file.loaded {
            background-color: limegreen; /* Verde claro */
            color: black;
        }

        /* Color cuando el archivo no es válido */
        #file.error {
            background-color: orangered; /* Rojo claro */
            color: black;
        }
</style>




@* // Script para lanzar un mensaje de error en caso de que el fichero no sea .xls o .xlsx *@
<script>
    document.getElementById("file").addEventListener("change", function (event) {
        const file = event.target.files[0]; // Obtener el archivo seleccionado
        const validExtensions = ["application/vnd.ms-excel", "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"];
        const inputField = event.target;

        if (file && validExtensions.includes(file.type)) {
            // Archivo válido
            inputField.classList.remove("error");
            inputField.classList.add("loaded");
            document.getElementById("errorMessage").style.display = "none";
        } else {
            // Archivo no válido
            inputField.classList.remove("loaded");
            inputField.classList.add("error");
            document.getElementById("errorMessage").style.display = "block";
            inputField.value = ""; // Reinicia el campo de entrada
        }
    });
</script>


<!-- Script : Ver / Ocultar pass -->
<script>
    document.getElementById("togglePassword").addEventListener("click", function () {
        let passwordInput = document.getElementById("password");
        let icon = this.querySelector("i");

        // Alternar entre 'password' y 'text'
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            icon.classList.replace("fa-eye", "fa-eye-slash"); // Ícono de ocultar
        } else {
            passwordInput.type = "password";
            icon.classList.replace("fa-eye-slash", "fa-eye"); // Ícono de mostrar
        }
    });
</script>



