@model MedicosViewModel

@{
    ViewData["Title"] = "Medicos";
}
@{
    // await Html.RenderPartialAsync("_MensajeOperaciones");
}

<hr>
<h4 class="text-center"><span class="fa-solid fa-user-doctor"></span> Medicos <span class="fa-solid fa-user-doctor"></span></h4>
<hr>

<div id="idResultadosFiltro" class="text-center" style="margin-top:10px;">
    @{
        await Html.RenderPartialAsync("TablaMedicos", Model.Medicos);
    }
</div>

@* Paginacion *@
<div id="idPaginadorPrincipal" class="text-center m-1">
    <a class="btn btn-sm btn-outline-primary PaginaAnterior" onclick="PaginadorPrincipal.paginaAnterior()">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
    </a>
    <span class="m-2 TextoPaginacion" style="color:white;">@Model.PaginaActual</span>
    <a class="btn btn-sm btn-outline-primary PaginaSiguiente" onclick="PaginadorPrincipal.paginaSiguiente()">
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
    </a>
</div>

<br />

@section Styles {
    <link href="~/css/Medicos.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/Medicos.js"></script>
}

@* 



<input type="hidden" asp-for="IdEdicion" id="IdEdicion" name="IdEdicion" value="@Model.IdEdicion" />
<input type="hidden" asp-for="IdCurso" id="IdCurso" name="IdCurso" value="@Model.IdCurso" />

 *@
@* Vista parcial Detalle Cursos *@
@* <div id="DetallesCursoEjecutado" style="display:none;">
    @{
        await Html.RenderPartialAsync("DetalleCursoEdicionSeleccionado", Model);
    }
</div> *@

<br />

@* Selector *@
@* @await Component.InvokeAsync("SelectorCursoEdiciones", new { IdSelector = "miSelectorEdicion" })
 *@
<br />

@* Vista parcial Detalle Ediciones *@
@* <div id="DetallesEdicionEjecutado" style="display:none;">
    @{
        await Html.RenderPartialAsync("DetalleEdicionCursoSeleccionado", Model);
    }
</div> *@

<br />

@* Creación / Modificación / Eliminacion Edicion *@

<br />
<br />

<div class="text-center d-none">
    <p id="p"></p>
    <p id="enlace"><a href="@Url.Action("Index","Home")" id="link"></a> Ir a inicio </p>
</div>

