@{
    ViewData["Title"] = "Infoormes";
}
@{
    // await Html.RenderPartialAsync("_MensajeOperaciones");
}

<hr>
<h4 class="text-center"><i class="fa fa-clipboard" aria-hidden="true"></i> Informes <i class="fa fa-clipboard" aria-hidden="true"></i></h4>
<hr>



@section Styles {
    <link href="~/css/Informes.css" rel="stylesheet" />
}
