@using Epsilon.ViewModels
@model ViewFormAgregarPaciente

<form id="updatePaciente" method="post" asp-action="ModificarPaciente" name="updatePaciente" onsubmit="return jqPostUpdatePaciente(this);">

    <input type="hidden" name="IdPaciente" id="IdPaciente" asp-for="IdPaciente" value="@Model.IdPaciente" />

    <div id="contenedorControles">

        <div class="text-center" style="border-radius:100px;margin-bottom:20px;">
            <img src="~/media/deep.jpg" alt="" name="RutaFoto" asp-for="RutaFoto" id="fotoPaciente"/>
        </div>

        <div class="row">
            <!-- Primera columna -->
            @* NOMBRE *@
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="label">Nombre</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                        <input type="text" class="form-control" asp-for="NombrePaciente" placeholder="Ingrese su nombre" id="inputStyle">
                    </div>
                </div>

                @* TELEFONO *@
                <div class="mb-3">
                    <label class="label">Teléfono</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-phone"></i></span>
                        <input type="number" class="form-control" asp-for="Telefono" name="Telefono" placeholder="Ingrese su número de teléfono" id="inputStyle">
                    </div>
                </div>

                @* FECHA ALTA *@
                <div class="mb-3">
                    <label class="label">Fecha de Alta</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-calendar"></i></span>
                        <input type="date" asp-for="FechaAlta1" class="form-control" id="inputStyle">
                    </div>
                </div>

                @* DIRECCION *@ 
                <div class="mb-3">
                    <label class="label">Direccion</label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fa fa-map-pin" aria-hidden="true"></i>
                        </span>
                        <input type="text" asp-for="Direccion" class="form-control" id="inputStyle">
                    </div>
                </div>




                @* Nº Consultas *@ 
                <div class="mb-3 col-md-3">
                    <label class="label">Nº Consultas*</label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fa fa-th-list" aria-hidden="true"></i>
                        </span>
                        <input type="text" asp-for="NumeroConsultas" class="form-control" id="inputStyle">
                    </div>
                </div>


                @* ASEGURADO *@
                <div class="mb-3 col-md-3">
                    <div>
                        <input type="checkbox" asp-for="Asegurado" id="checkAsegurado">
                        <label class="form-check-label" style="margin-bottom:10px">Asegurado</label>
                    </div>
                </div>






            </div>
            <!-- Segunda columna -->
            <div class="col-md-6">

                @* DNI *@
                <div class="mb-3">
                    <label class="label">DNI</label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fa fa-address-card" aria-hidden="true"></i>
                            </i>
                        </span>
                        <input type="text" class="form-control" asp-for="DNI" placeholder="Ingrese el DNI" id="inputStyle">
                    </div>
                </div>

                @* CORREO ELECTRONICO *@
                <div class="mb-3">
                    <label class="label">Correo Electrónico</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        <input type="email" class="form-control" asp-for="EMail" name="Email" placeholder="Ingrese su correo" value="@Model.EMail" id="inputStyle">
                    </div>
                </div>

                @* COMENTARIOS *@ 
                <div class="mb-3">
                    <label class="label">Comentarios</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-comment"></i></span>
                        <textarea class="form-control" rows="1" placeholder="Escriba sus comentarios" name="Comentarios" id="inputStyle"></textarea>
                    </div>
                </div>

                @* CIUDAD *@ 
                <div class="mb-3">
                    <label class="label">Ciudad</label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </span>
                        <input type="text" asp-for="Ciudad" class="form-control" id="inputStyle">
                    </div>
                </div>


              
            </div>
        </div>

        </div>

    @* BOTONES *@
    <div class="fa-pull-left pt-2">
        <button id="btnAddUser" type="submit" class="btn btn-outline-success"><span class="fa fa-check"></span> Aceptar</button>
        <button id="btnCancel" type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"><span class="fa fa-circle-xmark"> </span> Cancelar</button>
    </div>

</form>


<style>

</style>


