@using Epsilon.ViewModels
@model ViewFormAgregarPaciente

<form id="addPaciente" method="post" asp-action="AgregarPaciente" name="addPaciente" onsubmit="return jqPostAddPaciente(this);">

    <div style="border:1px solid gainsboro;padding:10px">

        <div class="text-center" style="border-radius:100px;margin-bottom:20px;">
            <img src="~/media/deep.jpg" alt="" height="150px" width="150px" style="border-radius:100px;border:1px solid grey" name="RutaFoto" asp-for="RutaFoto" />
        </div>

        <div class="row">

            <!-- Primera columna -->
            @* NOMBRE *@
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="label">Nombre</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                        <input type="text" class="form-control" asp-for="NombrePaciente" placeholder="Ingrese su nombre">
                    </div>
                </div>

                @* TELEFONO *@
                <div class="mb-3">
                    <label class="label">Teléfono</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-phone"></i></span>
                        <input type="text" class="form-control" asp-for="Telefono" name="Telefono" placeholder="Ingrese teléfono">
                    </div>
                </div>

                @* DIRECCION *@ 
                <div class="mb-3">
                    <label class="label">Direccion</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-comment"></i></span>
                        <input type="text" asp-for="Direccion" class="form-control" placeholder="Ingrese Direccion">
                    </div>
                </div>

                @* FECHA ALTA *@
                <div class="mb-3" style="margin-top:20px;">
                    <label class="label">Fecha de Alta</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-calendar"></i></span>
                        <input type="date" asp-for="FechaAlta1" class="form-control">
                    </div>
                </div>
            </div>

            <!-- Segunda columna -->
            <div class="col-md-6">

                @* DNI *@
                <div class="mb-3">
                    <label class="label">DNI</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-address-card" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" asp-for="DNI" placeholder="Ingrese el DNI">
                    </div>
                </div>

                @* CORREO ELECTRONICO *@
                <div class="mb-3">
                    <label class="label">Correo Electrónico</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        <input type="email" class="form-control" asp-for="EMail" name="Email" placeholder="Ingrese su correo" value="@Model.EMail">
                    </div>
                </div>

                @* CIUDAD *@ 
                <div class="mb-3">
                    <label class="label">Ciudad</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-comment"></i></span>
                        <input type="text" asp-for="Ciudad" class="form-control" placeholder="Ingrese Ciudad">
                    </div>
                </div>

                @* COMENTARIOS *@ 
                <div class="mb-3">
                    <label class="label">Comentarios</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-comment"></i></span>
                        <textarea class="form-control" rows="1" placeholder="Escriba sus comentarios" name="Comentarios"></textarea>
                    </div>
                </div>

                @* ASEGURADO *@
                <div class="mb-3" style="margin-top:50px !important;">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="Asegurado" id="checkAsegurado">
                        <label class="form-check-label" style="margin-left:10px;">ASEGURADO</label>
                    </div>
                </div>

            </div>
        </div>
    </div>
    @* BOTONES *@
    <div class="fa-pull-left">
        <button id="btnAddPaciente" type="submit" class="btn btn-outline-success m-2"><span class="fa fa-check"></span> Aceptar</button>
        <button id="btnCancel" type="button" class="btn btn-outline-danger m-2"><span class="fa fa-circle-xmark"> </span> Cancelar</button>
    </div>
</form>

<style>
    #checkAsegurado {
        width: 20px !important;
        height: 20px !important;
        accent-color: black !important;
    }
</style>




