@using Epsilon.ViewModels
@model ViewFormAgregarPaciente

<form id="idAddPeriodo_Form" method="post" asp-action="EliminarPaciente" onsubmit="return jqPostDeletePaciente(this);" style="border:1px solid gainsboro;padding:10px">

    <input type="hidden" name="IdPaciente" id="IdPaciente" value="@Model.IdPaciente" />

    <div class="row">

        <div class="form-group row md-1">
            <div class="col-md-12 m-2">
                <label class="text-center col-md-12 col-form-label">¿Desea eliminar el paciente @Model.NombrePaciente?</label>
            </div>
        </div>

        @* BOTONES *@
        <div class="text-center">
            <button id="btnAddUser" type="submit" class="btn btn-outline-success m-2"><span class="fa fa-check"></span> Aceptar</button>
            <button id="btnc" type="button" class="btn btn-outline-danger m-2" data-bs-dismiss="modal"><span class="fa fa-circle-xmark"> </span> Cancelar</button>
        </div>

    </div>
</form>