@model PacientesViewModel

@{
    ViewData["Title"] = "Pacientes";
}
@{
    // await Html.RenderPartialAsync("_MensajeOperaciones");
}

<hr>
<h4 class="text-center"><span class="fa-solid fa-user-injured"></span> Pacientes <span class="fa-solid fa-user-injured"></span></h4>
<hr>



<button style="background-color:gainsboro;" class="accordion"><span class="fa fa-search"></span> Buscador Pacientes</button>

<div class="panel" style="border-bottom:1px solid gainsboro;border-left:1px solid gainsboro;border-right:1px solid gainsboro;">

    <div class="form-group row" style="padding:10px;">

        @* Nombre *@
        <div class="col-md-2">
            <label class="form-label">Nombre</label>
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
                <input type="text" class="form-control" placeholder="Ingrese nombre">
            </div>
        </div>
        @* DNI *@
        <div class="col-md-2">
            <label class="form-label">DNI</label>
            <div class="input-group">
                <span class="input-group-text">
                    <i class="fa fa-address-card" aria-hidden="true"></i>
                </span>
                <input type="text" class="form-control" placeholder="Ingrese DNI">
            </div>
        </div>
        @* E-Mail *@
        <div class="col-md-2">
            <label class="form-label">Correo Electrónico</label>
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                <input type="email" class="form-control" placeholder="Ingrese E-mail">
            </div>
        </div>
        @* Telefono *@
        <div class="col-md-2">
            <label class="form-label">Teléfono</label>
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-phone"></i></span>
                <input type="text" class="form-control" placeholder="Ingrese teléfono" style="padding-right:15px;">

            </div>
        </div>
        @* Ciudad *@
        <div class="col-md-2">
            <label class="form-label">Ciudad</label>
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
                <input type="text" class="form-control" placeholder="Ingrese ciudad">
            </div>
        </div>

        <div class="col-md-12 fa fa-pull-right" style="margin-top:-35px !important;">
            <label for="lblBuscar"></label>

            <button type="submit" style="float:right !important;" class="btn btn-sm btn-outline-dark fa fa-pull-right" onclick="if (window.PaginadorPrincipal){ PaginadorPrincipal.destroy(); delete window.idPaginadorPrincipal;}">
                <span class="fa fa-search"></span> 
            </button>Buscar



        </div>
    </div>
</div>

<div style="margin-bottom:10px;margin-top:10px;">
<button id="AddUser" type="button" class="btn btn-sm btn-outline-primary fa-pull-right" onclick="return jqGetModalAddPaciente(this)"><span class="fa fa-plus"></span> Nuevo <b>Paciente</b></button>
<button id="ExportarExcel" type="button" class="btn btn-sm btn-outline-dark fa-pull-left" onclick="jqGetModalExportarExcel()"><i class="fa fa-file-import"></i> Importar <b>Pacientes</b></button>
</div>

<br />

<br />

<div style="border:1px solid gainsboro;">


    <div id="idResultadosFiltro" class="text-center">
        @{
            await Html.RenderPartialAsync("TablaPacientes", Model.Pacientes);
        }
    </div>


</div>


@section Styles {
    <link href="~/css/Pacientes.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/Pacientes.js" asp-append-version="true"></script>
    <script src="~/js/Paginador.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

}


@section Modals {
    @* Modal agregar paciente *@
    <div class="modal fade" tabindex="-1" role="dialog" data-bs-backdrop="static" data-keyboard="false" id="addPacienteModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">Alta Paciente</h5>
                    <button type="button" class="btn-close position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Aquí se insertará el contenido dinámico -->
                </div>
            </div>
        </div>
    </div>

    @* Modal modificar paciente *@
    <div class="modal fade" tabindex="-1" role="dialog" data-bs-backdrop="static" data-keyboard="false" id="updatePacienteModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">Modificar datos del Paciente</h5>
                    <button type="button" class="btn-close position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Aquí se insertará el contenido dinámico -->
                </div>
            </div>
        </div>
    </div>

    @* Modal eliminar paciente *@
    <div class="modal fade" tabindex="-1" role="dialog" data-bs-backdrop="static" data-keyboard="false" id="deletePacienteModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">Eliminar paciente</h5>
                    <button type="button" class="btn-close position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Aquí se insertará el contenido dinámico -->
                </div>
            </div>
        </div>
    </div>

    @* Modal importar pacientes *@
    <div class="modal fade" tabindex="-1" role="dialog" data-bs-backdrop="static" data-keyboard="false" id="importarExcel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">Importar pacientes</h5>
                    <button type="button" class="btn-close position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Aquí se insertará el contenido dinámico -->
                </div>
            </div>
        </div>
    </div>
}

<script>

    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
    /* Toggle between adding and removing the "active" class,
    to highlight the button that controls the panel */
    this.classList.toggle("active");

    /* Toggle between hiding and showing the active panel */
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
    panel.style.display = "none";
    } else {
    panel.style.display = "block";
    }
    });
    }
</script>
