@using Negocio.Persistencia.Modelos
@model DatosPacientes

@{
    ViewData["Title"] = "Radiologia - " + Model.NombrePaciente;
}
@{
    // await Html.RenderPartialAsync("_MensajeOperaciones");
}


<hr style="color:white;">
<h4 class="text-center" style="color:white"><span class="fa-solid fa-circle-radiation"></span> Radiologia <span class="fa-solid fa-circle-radiation"></span></h4>
<hr style="color:white;">

<div class="row">
    @* Zona de controles de manipulacion de DICOM *@
    <div class="row" style="margin-bottom:10px;border:1px solid white;padding:5px;box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.25);">

       


        @* Botones normales, los que me propusiste en su momento *@
        @*   <div class="col-md-2">
            <button id="zoomIn">Zoom +</button>
            <button id="zoomOut">Zoom -</button>
            <button id="reset">Reset</button>
        </div> *@

        @* Botones bootstrap (Mas bonitos), mi propuesta *@
        <div class="col-md-2">
            <button class="btn btn-light" id="zoomIn" style="border-radius:30px;"><b>+</b></button>
            <button class="btn btn-light" id="zoomOut" style="border-radius:30px;width:35px;"><b>-</b></button>
            <button class="btn btn-light" id="reset" style="margin-left:10px;">Reset</button>
        </div>

        @* HAY QUE ELEGIR O UNOS U OTROS BOTONES *@

        @* Boton que quiero que abra un visor FULL SCREN *@
        <div class="col-md-2">
            <button class="btn btn-light" id="zoomIn" style="border-radius:30px;" onclick="abrirVisorFullScreen()"><i class="fa fa-maximize"></i><b> VISOR FULL SCREEN</b></button>
        </div>
    </div>


    @* VISOR + TEXTO ENCIMA *@
    <div id="textoVisor" style="
    top:10px;
    left:0;
    width:100%;
    text-align:center;
    color:white;
    font-weight:bold;
    height:0;
    overflow:visible;
    "></div>

    @* Contenedor de la DICOM *@
    <div class="col-md-10" style="padding:5px;box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.25);margin-top:20px;">
        <div id="dicomViewer" style="width: 100%; height: 562px; border: 1px solid #333;"></div>
    </div>

    @* Espacio lateral para datos del paciente *@
    <div class="col-md-2" style="border:1px solid white">
        
        @* Datos del paciente *@
        <div class="col-md-12" style="padding:15px;box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.25);">
            <h3 class="text-center">DATOS DEL PACIENTE</h3>
            <label><b>Nombre:</b>@Model.NombrePaciente</label><br />
            <label><b>Edad: </b> @Model.NumeroConsultas</label><br />
            <label><b>Observaciones:</b>@Model.Observaciones</label><br />
            <label><b>Ultima Cita: </b> @Model.FechaUltimaCita.ToShortDateString()</label>
        </div>

        @* Selector para seleccionar una radiografia concreta del paciente *@
        <div class="col-md-12" style="padding:15px;box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.25);">
            <label>Seleccione Radiografia</label>
            <select name="ListadoRadiografias" class="form-control form-select" title="Listado Radiografias" id="listadoRadiografias" style="margin-bottom:5px;">
                <option value="" selected disabled>(Seleccione una opcion)</option>
                <option value="/Media/Radiografias/1.dcm">R-01 (17-03-2026)</option>
                <option value="/Media/Radiografias/2.dcm">R-02 (21-03-2026)</option>
                <option value="/Media/Radiografias/3.dcm">R-03 (27-05-2026)</option>
                <option value="/Media/Radiografias/4.dcm">R-04 (05-09-2026)</option>
            </select>

            @* Selector para seleccionar una posicion de la radiografia previamente seleccionada *@
            <label>Seleccione Posicion</label>
            <select name="posicionRadiografias" class="form-control form-select" title="Posicion de la radiografia" id="Posicion" style="margin-bottom:5px;">
                <option value="" selected disabled>(Seleccione una opcion)</option>
                <option value="2">Frontal</option>
                <option value="3">Lateral Izquierdo</option>
                <option value="4">Lateral Derecho</option>
                <option value="4">Inferior</option>
            </select>
        </div>

        @* Boton de volver a la pantalla Pacientes *@
        <div style="margin-bottom:15px;margin-top:10px;">
            <a class="btn btn-secondary" href="/Pacientes">
                ← Volver a Pacientes
            </a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/dicom/dicomParser.min.js"></script>
    <script src="/dicom/cornerstone.min.js"></script>
    <script src="/dicom/cornerstoneWADOImageLoader.bundle.min.js"></script>
    <script src="~/js/Radiologia.js" asp-append-version="true"></script>
}

@section Modals {
    @* Modal FullScreen??? o no vale esto?? *@
    <div class="modal fade" tabindex="-1" role="dialog" data-bs-backdrop="static" data-keyboard="false" id="modalRadiografia">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">
                        <i class="fa fa-user-plus" aria-hidden="true"></i> Radiografia
                    </h5>
                    <button type="button" class="btn-close position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Aquí se insertará el contenido dinámico -->
                </div>
            </div>
        </div>
    </div>
}

@section Styles {
    <link href="~/css/Radiologia.css" rel="stylesheet" />
}
