@using Epsilon.ViewModels
@model ViewFormAgregarCita
@* BOTONES *@
<div class="fa-pull-left pt-2">








    <button id="btnAddUser" type="submit" class="btn btn-outline-success"><span class="fa fa-check"></span> Aceptar</button>
    <button id="btnCancel" type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"><span class="fa fa-circle-xmark"> </span> Cancelar</button>
</div>