<hr style="color:black;">
<h4 class="text-center"><span class="fa-solid fa-sack-dollar"></span> Facturacion <span class="fa-solid fa-sack-dollar"></span></h4>
<hr style ="color:black;">

@* 
Grafico de  *@
<canvas id="myChart" width="800" height="400"></canvas>






























@section Scripts {
    <script src="~/js/charts/chart.umd.min.js"></script>
    <script src="~/js/charts/chart.min.js"></script>
    <script src="~/js/Facturacion.js" asp-append-version="true"></script>
}





@section Styles {
    <link href="~/css/Facturacion.css" rel="stylesheet" />
}
