@model PacientesViewModel

@{
    ViewData["Title"] = "Radiologia";
}
@{
    // await Html.RenderPartialAsync("_MensajeOperaciones");
}

<hr>
<h4 class="text-center"><span class="fa-solid fa-circle-radiation"></span> Radiologia <span class="fa-solid fa-circle-radiation"></span></h4>
<hr>


@section Styles {
    <link href="~/css/Radiologia.css" rel="stylesheet" />
}

