@{
    ViewData["Title"] = "Agenda";
}
@{
    // await Html.RenderPartialAsync("_MensajeOperaciones");
}

<hr>
<h4 class="text-center"><span class="fa fa-pie-chart"></span> Estadistica <span class="fa fa-pie-chart"></span></h4>
<hr>

<div class="row"> 
<div class="col-md-3">
    <label>Tipo de Estadistica</label>
    <select name="ModeloCorreo" class="form-control form-select" title="Listado Modelos de Correo" id="ModeloCorreo" style="margin-bottom:5px;">
        <option value="" selected disabled>(Seleccione una opcion)</option>
        <option value="2">Facturacion</option>
        <option value="3">Pacientes</option>
        <option value="4">Medicos</option>
        <option value="4">Tratamientos</option>
    </select>
</div>

<div class="col-md-3">
        <label>Tipo de Animacion</label>
    <select name="ModeloCorreo" class="form-control form-select" title="Listado Modelos de Correo" id="ModeloCorreo" style="margin-bottom:5px;">
        <option value="" selected disabled>Seleccione Luz</option>
        <option value="2">Opcion 1</option>
        <option value="3">Opcion 2</option>
        <option value="4">Opcion 3</option>
    </select>
</div>


<div class="col-md-3">
        <label>Tipo de Malla</label>
    <select name="ModeloCorreo" class="form-control form-select" title="Listado Modelos de Correo" id="ModeloCorreo" style="margin-bottom:5px;">
        <option value="" selected disabled>Seleccione Luz</option>
        <option value="2">Vertices</option>
        <option value="3">Triangulos</option>
    </select>
</div>


<div class="col-md-3">
        <label>Tipo de Animacion</label>
    <select name="ModeloCorreo" class="form-control form-select" title="Listado Modelos de Correo" id="ModeloCorreo" style="margin-bottom:5px;">
        <option value="" selected disabled>Seleccione Luz</option>
        <option value="2">Animacion 1</option>
        <option value="3">Animacion 2</option>
        <option value="4">Animacion 3</option>
    </select>
</div>


</div>

@* Grafico general fuera de pestaña para probar su comportamiento y maquetacion fuera  *@
<div style="border:1px solid gainsboro;padding:5px;box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.25);margin-bottom:30px;">
    <canvas id="myChart" width="1200" height="400"></canvas>
</div>

@section Scripts {
    <script src="~/js/charts/chart.umd.min.js"></script>
    <script src="~/js/charts/chart.min.js"></script>
    <script src="~/js/Estadisticas.js" asp-append-version="true"></script>
}

@section Styles {
    <link href="~/css/Estadisticas.css" rel="stylesheet" />
}
