@{
    ViewData["Title"] = "Agenda";
}
@{
    // await Html.RenderPartialAsync("_MensajeOperaciones");
}

<hr>
<h4 class="text-center"><span class="fa fa-calendar-days"></span> Estadistica <span class="fa fa-calendar-days"></span></h4>
<hr>



@section Styles {
    <link href="~/css/Agenda.css" rel="stylesheet" />
}
