@{
    ViewData["Title"] = "Inicio";
}


<div style="border: 1px solid grey;box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);margin-top:2%;">

    <div class="text-center">
        @* IMAGEN DEL INICIO *@
        <div class="text-center" style="margin-top:60px;margin-bottom:20px;">
            <img src="~/media/epsilon.png" alt="" height="150px" width="150px" style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);" />
        </div>
        <div>
            <h1 style="box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);z-index:0;width:auto;"><i class="fa-solid fa-tooth"></i> CLINICAS DENTALES EPSILON <i class="fa-solid fa-tooth"></i></h1>

            <p style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);"> BY </p>

            <div class="row">
                <div style="border-radius:100px;margin-bottom:10%;" class="col-md-6">
                    <img src="~/media/JMDnegro.png" alt="" height="70px" width="150px" style="box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);" />
                </div>

                <div style="border-radius:100px;padding-bottom:50px;" class="col-md-6">
                    <img src="~/media/logoJSMPequeño.png" alt="" height="70px" width="150px" style="box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);" />
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background-color: deepskyblue;
    }

</style>