@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class="text-center" style="border-radius:100px;margin-top:200px;">

        <img src="~/media/epsilon.png" alt="" height="200px" width="200px" />

    </div>



    <h2 class="display-4">CLINICAS DENTALES EPSILON</h2>
    <h3>VENDRAS MAL, TE IRAS PEOR</h3>
    <p> BY </p>
    <div class="text-center" style="border-radius:100px;">

        <img src="~/media/JMDnegro.png" alt="" height="70px" width="150px" />

    </div>

</div>


<style>
    body{
    background-color:deepskyblue;
    }


</style>