@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class="text-center" style="border-radius:100px;margin-top:50px;">

        <img src="~/media/epsilon.png" alt="" height="200px" width="200px" />

    </div>



    <h1 class="display-4">EPSILON</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
